@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");

/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}
body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

/********** Views ***********/

/* Home */
#bitMap {
  width: 1440px;
  height: 900px;
}

.active {
  text-decoration: underline;
}
